mule-esb-plugin/src/main/resources/schemas/mule-documentation.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://www.mulesoft.org/schema/mule/documentation"
            attributeFormDefault="unqualified"
            elementFormDefault="qualified">

    <xsd:attribute name="description"/>
    <xsd:attribute name="name"/>
    <xsd:attribute name="id"/>

</xsd:schema>